.image{
  display: block;
  margin: 0px auto -50px auto;
}
.spinner{
  width: 100px;
  height:100px;
  display: block;
  margin:150px auto -20px auto;
}
.title{
  text-align: center;
  color: blue;
  width: 100%;
}
