<div class="container">
  <div class="buttonDiv">
    <p class="text">Wachtwoord opnieuw instellen</p>
    <p class="smallText">Geef je nieuwe wachtwoord 2 maal in.</p>
    <p class="text2">Wachtwoord:</p>
    <input [(ngModel)]="wachtwoord1"  class="inputBox" type="text" value="">
    <p class="text2">Wachtwoord herhalen:</p>
    <input [(ngModel)]="wachtwoord2"  class="inputBox" type="text" value="">
    <input (click)="recoverPassword()" class="loginButton" type="button" value="Wachtwoord wijzigen">
  </div>
</div>

