.whywaitt {
  height: 50%;
  width: 75%;
  display: block;
  margin: 30px auto 0 auto;
}
.container {
  margin-top: 5rem;
}

.title {
  width: 75%;
  font-size: 24px;
  font-weight: 500;
  display: block;
  margin: 0px auto 0 auto;
}
.ww {
  text-decoration: underline;
  font-size: 15px;
  color: blue;
  cursor: pointer;
  margin-top: 20px;
}
.buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  margin-top: 150px;
}
.rower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 40px;
  align-items: center;
}
.topButton {
  width: 125px;
  height: 40px;
  background-color: #6f82a1;
  color: white;
  border: 1px solid #6f82a1;
  border-radius: 5px;
  margin-left: 30px;
}
.midButton {
  width: 125px;
  height: 40px;
  background-color: #36abe0;
  color: white;
  border: 1px solid #36abe0;
  border-radius: 5px;
}
.botButton {
  width: 75%;
  height: 40px;
  background-color: lightgrey;
  color: black;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.inputBox {
  width: 70%;
  height: 65px;
  border: 1px solid black;
  border-radius: 10px;
}
.smallText {
  font-size: 12px;
  font-weight: 400;
}
.text {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bolder;
}
.send-mail-button {
  width: 70%;
  height: 120px !important;
  margin-top: 4rem;
}

.gobackButton {
  display: block;
  margin: 50px auto 10px auto;
  height: 120px !important;
  color: white;
  font-size: 21px;
  font-weight: 600;
  background-color: #393939;
  border: 1px solid #393939;
  border-radius: 5px;
}
@media only screen and (min-width: 500px) {
  .topButton {
    width: 200px;
    height: 40px;
    background-color: #6f82a1;
    color: white;
    border: 1px solid #6f82a1;
    border-radius: 5px;
    margin-left: 50px;
  }
  .midButton {
    width: 200px;
    height: 40px;
    background-color: #36abe0;
    color: white;
    border: 1px solid #36abe0;
    border-radius: 5px;
  }
}
@media only screen and (max-height: 600px) {
  .text {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bolder;
  }
  .ww {
    text-decoration: underline;
    font-size: 15px;
    color: blue;
    cursor: pointer;
    margin-top: 5px;
  }
  .whywaitt {
    height: 45%;
    width: 65%;
    display: block;
    margin: 15px auto 0 auto;
  }
}
