<div class="container">
  <div class="buttonDiv">
    <p class="text">Wachtwoord vergeten?</p>
    <p class="smallText">Verstuur een email om je wachtwoord opnieuw in te stellen.</p>
    <input [(ngModel)]="email"  class="inputBox" type="email" value="">
    <ion-button (click)="sendPasswordRecover()" siz color="dark" class="send-mail-button" size="large">Verstuur email</ion-button>
    <ion-button (click)="goBack()" color="dark" class="goback-button"  size="large" >Ga terug</ion-button>
  </div>
</div>
